<!--
<h5>Responsive</h5>
<div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="box">A</div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="box">B</div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="box">C</div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">       <div class="ui-grid-col-4">
          <span>Serial Number</span>
        </div>

        <div class="box">D</div>
    </div>

    <div class="p-d-inline p-col-12">Displayed as inline.</div>
    <div class="p-d-flex p-col-12">Displayed as a flexbox container.</div>
    <div class="p-d-block p-d-lg-inline p-col-12">Inline for larger screens and block for others.</div>
    <div class="p-d-md-none p-col-12">Visible on a Small Screen</div>
    <div class="p-d-none p-d-md-inline-flex p-col-12">Hidden on a Small Screen</div>
    <div class="p-d-none p-print-block p-col-12">Only visible when printed.</div>
    <div class="p-d-block p-print-none p-col-12">Not available for printing.</div>

</div>
-->

<div class="p-grid p-fluid ">
    <div class="p-col-4 ">
        <div class="p-col-12 p-d-inline-flex p-pb-0" style="height:1.75rem">
            <label class="p-inputtext-sm p-pr-1">Name1:</label><input type="text" class="p-inputtext-sm " pInputText />
        </div>
        <div class="p-col-12 p-d-inline-flex  p-pb-0" style="height:1.75rem">
            <label class="p-inputtext-sm p-pr-1">Name2:</label><input type="text" class="p-inputtext-sm " pInputText />
        </div>
        <div class="p-col-12 p-d-inline-flex  p-pt-0 p-pb-0 p-pl-0"  style="height:1.75rem">
            <div class="p-col-4 p-d-inline-flex  p-pb-0"  style="height:1.75rem">
                <label class="p-inputtext-sm  p-pr-1">Name3:</label><input type="text" class="p-inputtext-sm " pInputText />
            </div>
            <div class="p-col-4 p-d-inline-flex  p-pb-0"  style="height:1.75rem">
                <label class="p-inputtext-sm  p-pr-1">Name4:</label><input type="text" class="p-inputtext-sm " pInputText />
            </div>
            <div class="p-col-4 p-d-inline-flex  p-pb-0"  style="height:1.75rem">
                <label class="p-inputtext-sm p-pr-1">Name5:</label><input type="text" class="p-inputtext-sm " pInputText />
            </div>
        </div>

    </div>
    <div class="p-col-4">
        <p>box 2</p>
    </div>

    <div class="p-col-4">
        <p>box 3</p>
    </div>
</div>