<!--
<h5>Responsive</h5>
<div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="box">A</div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="box">B</div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="box">C</div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">       <div class="ui-grid-col-4">
          <span>Serial Number</span>
        </div>

        <div class="box">D</div>
    </div>

    <div class="p-d-inline p-col-12">Displayed as inline.</div>
    <div class="p-d-flex p-col-12">Displayed as a flexbox container.</div>
    <div class="p-d-block p-d-lg-inline p-col-12">Inline for larger screens and block for others.</div>
    <div class="p-d-md-none p-col-12">Visible on a Small Screen</div>
    <div class="p-d-none p-d-md-inline-flex p-col-12">Hidden on a Small Screen</div>
    <div class="p-d-none p-print-block p-col-12">Only visible when printed.</div>
    <div class="p-d-block p-print-none p-col-12">Not available for printing.</div>

</div>
-->

<div class="p-grid p-fluid ">
    <div class="p-col-5">
        <!-- Header row 1, left side -->
        <div class="p-col-12 p-d-inline-flex p-pb-sm-0 p-pl-sm-0 " style="height:1rem">
            <div class="p-col-8 p-d-inline-flex p-pb-sm-0 p-input-filled">
                <label class=" p-pr-sm-1 " style="font-size: small">NAME1:</label>
                <input type="text" class="p-inputtext-sm " pInputText />
            </div>
            <div class="p-col-4 p-d-inline-flex p-pb-0 p-input-filled">
                <label class="p-inputtext-sm p-pr-1" style="font-size: small">HDICAT:</label>
                <input type="text" class="p-inputtext-sm " pInputText />
            </div>
        </div>
        <!-- Header row 2, left side -->
        <div class="p-col-12 p-d-inline-flex p-pt-sm-0 p-pb-sm-0 p-pl-sm-0 " style="height:1rem">
            <div class="p-col-8 p-d-inline-flex p-pb-0 p-input-filled" style="height:1rem">
                <label class="p-inputtext-sm p-pr-1" style="font-size: small;">NAME2:</label>
                <input type="text" class="p-inputtext-sm " pInputText />
            </div>
            <div class="p-col-4 p-d-inline-flex p-pb-0 p-input-filled" style="height:1rem">
                <label class="p-inputtext-sm p-pr-1" style="font-size: small">NODONOR:</label>
                <input type="text" class="p-inputtext-sm " pInputText />
            </div>
        </div>
        <!-- Header row 3, left side-->
        <div class="p-col-12 p-d-inline-flex  p-pt-sm-0 p-pb-sm-0 p-pl-sm-0 " style="height:1rem">
            <div class="p-col-3 p-d-inline-flex p-input-filled p-pb-sm-0" style="height:1rem">
                <label class="p-input-filled p-pr-sm-1" style="font-size: small;">STATE:</label>
                <div class="p-input-filled p-d-inline-flex p-pr-sm-8">
                    <input type="text" class="p-inputtext-sm  p-pr-1" pInputText />
                </div>
            </div>
            <div class="p-col-3 p-d-inline-flex  p-pb-0 p-input-filled" style="height:1rem">
                <label class="p-inputtext-sm  p-pr-1" style="font-size: small">LGSTORE:</label>
                <input type="text" class="p-inputtext-sm " pInputText />
            </div>
            <div class="p-col-3 p-d-inline-flex  p-pb-0 p-input-filled" style="height:1rem">
                <label class="p-inputtext-sm p-pr-1" style="font-size: small">SMPLWGT:</label>
                <input type="text" class="p-inputtext-sm " pInputText />
            </div>
            <div class="p-col-3 p-d-inline-flex  p-pb-0 p-input-filled" style="height:1rem">
                <label class="p-inputtext-sm p-pr-1" style="font-size: small">NAPCSIND:</label>
                <input type="text" class="p-inputtext-sm " pInputText />
            </div>
        </div>
        <!-- Header row 4, left side-->
        <div class="p-col-12 p-d-inline-flex  p-pt-sm-0 p-pb-sm-0 p-pl-sm-0" style="height:1rem">
            <div class="p-col-3 p-d-inline-flex  p-pb-0 p-input-filled" style="height:1rem">
                <label class="p-inputtext-sm  p-pr-1" style="font-size: small">PRIORITY:</label>
                <input type="text" class="p-inputtext-sm " pInputText />
            </div>
            <div class="p-col-3 p-d-inline-flex  p-pb-0 p-input-filled" style="height:1rem">
                <label class="p-inputtext-sm  p-pr-1" style="font-size: small">RECTYP:</label>
                <input type="text" class="p-inputtext-sm " pInputText />
            </div>
            <div class="p-col-3 p-d-inline-flex  p-pb-0 p-input-filled" style="height:1rem">
                <label class="p-inputtext-sm p-pr-1" style="font-size: small">PY_RECTYP:</label>
                <input type="text" class="p-inputtext-sm " pInputText />
            </div>
            <div class="p-col-3 p-d-inline-flex  p-pb-0 p-input-filled" style="height:1rem">
                <label class="p-inputtext-sm p-pr-1" style="font-size: small">BN1:</label>
                <input type="text" class="p-inputtext-sm " pInputText />
            </div>
        </div>
        <!-- Header row 5, left side-->
        <div class="p-col-12 p-d-inline-flex  p-pt-sm-0 p-pb-sm-0 p-pl-sm-0" style="height:1rem">
            <div class="p-col-3 p-d-inline-flex  p-pb-0 p-input-filled" style="height:1rem">
                <label class="p-inputtext-sm  p-pr-1" style="font-size: small">SURVUTYP:</label>
                <input type="text" class="p-inputtext-sm " pInputText />
            </div>
            <div class="p-col-3 p-d-inline-flex  p-pb-0 p-input-filled" style="height:1rem">
                <label class="p-inputtext-sm  p-pr-1" style="font-size: small">EDITCCS:</label>
                <input type="text" class="p-inputtext-sm " pInputText />
            </div>
            <div class="p-col-3 p-d-inline-flex  p-pb-0 p-input-filled" style="height:1rem">
                <label class="p-inputtext-sm p-pr-1" style="font-size: small">CLNCODE:</label>
                <input type="text" class="p-inputtext-sm " pInputText />
            </div>
            <div class="p-col-3 p-d-inline-flex  p-pb-0 p-input-filled" style="height:1rem">
                <label class="p-inputtext-sm p-pr-1" style="font-size: small">BN2:</label>
                <input type="text" class="p-inputtext-sm " pInputText />
            </div>
        </div>
        <!-- Header row 6, left side-->
        <div class="p-col-12 p-d-inline-flex  p-pt-sm-0 p-pb-sm-0 p-pl-sm-0" style="height:1rem">
            <div class="p-col-3 p-d-inline-flex  p-pb-0 p-input-filled" style="height:1rem">
                <label class="p-inputtext-sm  p-pr-1" style="font-size: small">TRANSFER:</label>
                <input type="text" class="p-inputtext-sm " pInputText />
            </div>
            <div class="p-col-3 p-d-inline-flex  p-pb-0 p-input-filled" style="height:1rem">
                <label class="p-inputtext-sm  p-pr-1" style="font-size: small">TAXEXMP:</label>
                <input type="text" class="p-inputtext-sm " pInputText />
            </div>
            <div class="p-col-3 p-d-inline-flex  p-pb-0 p-input-filled" style="height:1rem">
                <label class="p-inputtext-sm  p-pr-1" style="font-size: small">NAICMULT:</label>
                <input type="text" class="p-inputtext-sm " pInputText />
            </div>
            <div class="p-col-3 p-d-inline-flex  p-pb-0 p-input-filled" style="height:1rem">
                <label class="p-inputtext-sm p-pr-1" style="font-size: small">NAPCS_WRTIN:</label>
                <input type="text" class="p-inputtext-sm p-input-filled" pInputText />
            </div>
        </div>


    </div>
    <div class="p-col-7">
        <p>box 2</p>
    </div>
</div>